@import "addons.scss";
@import "stockmanagement.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in stockmanagement.scss */
.stockmanagement {
    @include addons;
    @include stockmanagement;

    .v-button-multiline .v-button-caption {
        white-space: normal;
    }

    .left-panel {
        background-color: white;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        /*-webkit-box-shadow: 3px 2px 15px -4px rgb(25, 23, 25);
        -moz-box-shadow: 3px 2px 15px -4px rgba(128,120,128,1);
        box-shadow: 3px 2px 15px -4px rgba(128,120,128,1);*/
        animation: valo-animate-in-slide-right 800ms 10ms backwards, valo-animate-in-fade 600ms 100ms backwards
    }

    .caption-center .v-caption {
        text-align: center;
        font-size: 16px;
        box-shadow: 0px 6px 10px 0px rgba(60, 61, 64, 0.12);
        background: skyblue;
        text-shadow: 3px 3px 6px rgba(142, 150, 150, 0.89);
    }

    .center {
        text-align: center;
        font-size: 20px;
        box-shadow: 0px 6px 10px 0px rgba(60, 61, 64, 0.12);
        background: skyblue;
        text-shadow: 3px 3px 6px rgba(142, 150, 150, 0.89);
    }

    .text-align-right {
        text-align: right;
    }

    .v-slot-text-align-right .v-has-caption {
        text-align: right !important;
    }

    .font16 {
        font-size: 20px;
    }

    .background-blue {
        background-color: whitesmoke;
        /*box-shadow: inset 6px 0px 10px 0px rgba(60, 61, 64, 0.12);*/
    }

    .formlayout-spacing [class*="spacing"] > tbody > [class*="firstrow"] > td {
        padding-top: 0;
    }

    .formlayout-spacing [class*="spacing"] > tbody > [class*="row"] > td {
        padding-top: 2px;
    }
    
    .formlayout-spacing [class*="margin-bottom"] > tbody > [class*="lastrow"] > td {
        padding-bottom: 0;
    }

    .max-textfield-width .v-textfield {
        width: 100%;
    }
    
    .max-textfield-width .v-datefield-day {
        width: 100%;
    }

    .v-tabsheet-framed.padded-tabbar > .v-tabsheet-tabcontainer {
        padding-top: 0px !important;
    }

    .addition-space .v-formlayout-error-indicator {
        width: 70px;
    }

    .resetbuttonfortextfield-resetbutton {
        top: 0pt;
    }
    
    .text-align-center {
        text-align: center;
    }
    
    .caption-left{
       display: inline !important;
    }
    
    .v-caption-caption-left {
       display: inline !important;
    }

    .margin-top-2px {
        margin-top: 2px;
    }

    .margin-left-right-20px .v-captiontext{
        margin-right: 20px;
        margin-left: 20px;
    }

    .margin-left-right-20px .v-slot{
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .v-slot-margin-left-right-20px .v-slot{
        margin-right: 20px;
        margin-left: 20px;
    }
    .v-caption-margin-left-right-20px .v-captiontext{
        margin-right: 20px;
        margin-left: 20px;
    }
    .margin-left-right-20px .v-table{
        margin-right: 20px;
        margin-left: 20px;
    }
    .v-table-margin-left-right-20px{
        margin-right: 20px;
        margin-left: 20px;
    }

    .v-slot-print-title{
        height: 80px !important;
    }
    .v-slot-print-header{
        height: 180px !important;
    }

    .v-caption-date-field-caption {
        display: inline-block !important;
        top: 5px;
        position: relative;
    }

    .v-grid-body .v-grid-row:hover td {
        color: #ffffff;
        background-color: #197de1;
    }

    .v-grid-footer {
        font-weight: bold;
        color: #197de1;
    }

    .df-report-style {
        text-align: center;
        border: 1px solid #d4d4d4;
        border-radius: 3px;
        background-color: #fafafa;
        background-image: -webkit-linear-gradient(top, #fafafa 2%, #efefef 98%);
        height: 40px;
        padding-top: 4px;
        font-size: 14px;
        width: 100%;
    }

    .df-report-detail-style {
        text-align: center;
        border: 1px solid #d4d4d4;
        border-radius: 3px;
        background-color: #fafafa;
        background-image: -webkit-linear-gradient(top, #fafafa 2%, #efefef 98%);
        height: 46px;
        padding-top: 4px;
        font-size: 14px;
        margin-top: 5px;
    }

    .filter-report-style {
        text-align: center;
        height: 40px !important;
        border: 1px solid #d4d4d4;
        border-radius: 3px;
        background-color: #fafafa;
        background-image: -webkit-linear-gradient(top, #fafafa 2%, #efefef 98%);
        padding-top: 6px !important;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
        font-weight: bold;
        font-size: 14px;
        width: 100%;
    }

    .filter-report-style .resetbuttonfortextfield-resetbutton {
        margin-top: 3px;
    }
}
